* {
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
}
.app {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

.app-dropdown {
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app-left {
  flex: 0.9;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

.app-right {
  display: flex;
  flex-direction: column;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-graph {
  flex-grow: 1;
}

.app-graphTitle {
  margin-top: 20px; 
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}