* {
  margin: 0;
}

body {
  background-color:#eaeaea;
}
.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #eaeaea;
  padding: 20px;
}

.app-dropdown {
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-header > h1 {
  color: #b40224;
  font-size: 2rem;
}

.app-left {
  flex: 0.9;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

.app-right {
  display: flex;
  flex-direction: column;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-graph {
  flex-grow: 1;
}

.app-graphTitle {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.darkmode {
  background-color: rgb(10, 10, 10);
}

.orange-selected {
  background-color: #ff6a3c;
}
.green-selected {
  background-color: #41db4b;
}
.red-selected {
  background-color:  #b40224;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 468px) {
  h1 {
    font-size: 1.2rem!important;
  }
  h2 {
    font-size: 1.1rem!important;
  }
  p {
    font-size: .9rem!important;
  }
  .map {
    height: 300px;
  }
}