.circle {
    position: absolute;
    top: 18px;
    right: 12px;
    border: 1px solid rgba(37, 37, 37, .5);
    height: 14px;
    width: 14px;
    color: rgb(37, 37, 37);
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px rgba(37, 37, 37, .4);
  }

  .glow {
      position: absolute;
      height: 5px;
      width: 5px;
      top: 2px;
      right: 2px;
      z-index: 2;
      background-color: white;
      border-radius: 50%;
  }
  