.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}
.infoBox--selected {
  border-top: 10px solid #41db4b;
}
.infoBox--red {
  border-color: #b40224;
}
.infoBox__cases--green {
  color: #41db4b!important;
}

.infoBox-cases {
    color: #b40224;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }