.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox-cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .orange {
    color: #ff6a3c!important;
  }
  .green {
    color: #41db4b!important;
  }
  .red {
    color:  #b40224!important;
  }
  
  .infoBox-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
  .MuiCardContent-root {
    position: relative;
  }
  