.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox-cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .orange {
    color: #f28346!important;
  }
  .green {
    color: #41db4b!important;
  }
  .red {
    color:  #ff4852!important;
  }
  
  .total-label{
    color: #6c757d;
    font-weight: 400;
  }
  
  .infoBox-total {
    color: #6c757d;
    font-weight: 700!important;
  }
  .MuiCardContent-root {
    position: relative;
    text-align: center;
  }
  